
<section (click)="generatePDF()"  #pdfContent id="pdfContent">
    <div  crossorigin="anonymous" class="  relative imgCover">
        <p class="absolute top-20 left-20 text-xl">C'est l'histoire d'un {{userData.favorite_animal}} qui s'appelle <strong>{{userData.children_name}}</strong> qui jouait dans la prairie.</p>

        @if(userData.favorite_animal  === 'tortue') {
            <img  crossorigin="anonymous" class="top-0 left-0 absolute" src="assets/img/tortue.png" alt="Tortue">
        }

        @if(userData.favorite_animal  === 'chien') {
            <img  crossorigin="anonymous"   class="top-0 left-0 absolute" src="assets/img/chien.png" alt="Chien">
        }

        @if(userData.favorite_animal  === 'chat') {
            <img  crossorigin="anonymous" class="top-0 left-0 absolute" src="assets/img/chat.png" alt="Chat">
        }

        @if(userData.favorite_animal  === 'cheval') {
            <img  crossorigin="anonymous" class="top-0 left-0 absolute" src="assets/img/cheval.png" alt="Cheval">
        }

        @if(userData.favorite_animal  === 'oiseau') {
            <img  crossorigin="anonymous" class="top-0 left-0 absolute" src="assets/img/oiseau.png" alt="Oiseau">
        }

        @if(userData.favorite_animal  === 'lapin') {
            <img  crossorigin="anonymous" class="top-0 left-0 absolute" src="assets/img/lapin.png" alt="Lapin">
        }

        @if(userData.favorite_animal  === 'mouton') {
            <img  crossorigin="anonymous" class="top-0 left-0 absolute" src="assets/img/mouton.png" alt="Mouton">
        }

        @if(userData.favorite_animal  === 'panda roux') {
            <img  crossorigin="anonymous" class="top-0 left-0 absolute" src="assets/img/panda-roux.png" alt="Oiseau">
        }
        
        <img  crossorigin="anonymous"class="imgCover" src="https://zrjbnrzqtfidfinwgqvy.supabase.co/storage/v1/object/sign/warmhora/bg_book.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InN0b3JhZ2UtdXJsLXNpZ25pbmcta2V5XzJmNGYzMjAzLTI1MGUtNGVjYi1hNjE4LWMyNjhmNzAwZGY5MCJ9.eyJ1cmwiOiJ3YXJtaG9yYS9iZ19ib29rLnBuZyIsImlhdCI6MTc0NzM4NzI4NiwiZXhwIjoxNzc4OTIzMjg2fQ.tenWMutSWbNWxRCYDTRpSRGzsLQCUYcJ-_pgChmp_gk" alt="">
    </div>
</section>