nav p {
    cursor: pointer;
    padding-bottom: 5px;
}

nav p.active {
    border-bottom: 3px solid #ff6347; 
    font-weight: bold;  
}

.bg {
background-color: #6b5da0;
}

.color-white  {
    color: #fbf8fc;
}

.radius {
    border-radius: 100px;
    background-color: #fbf8fc;
    width: 10px;
    height: 10px;
    top: 12px;
    left: 20px;
}