nav p {
    cursor: pointer;
    padding-bottom: 5px;
}

nav p.active {
    border-bottom: 3px solid #ff6347; 
    font-weight: bold;  
}

.bg {
background-color: #6b5da0;
}

.color-white  {
    color: #fbf8fc;
}