<div class="payment-container">
    <h2>Paiement</h2>

    @if (paymentConfirmed) {
    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        <label>
            Nom complet :
            <input formControlName="fullName" placeholder="Jean Dupont" />
        </label>
        @if (paymentForm.get('fullName')?.invalid && paymentForm.get('fullName')?.touched) {
        <div class="redText">Nom requis</div>
        }

        <label>
            Adresse :
            <input formControlName="address" placeholder="10 rue de la Paix" />
        </label>
        @if (paymentForm.get('address')?.invalid && paymentForm.get('address')?.touched) {
        <div class="redText">Adresse requise</div>
        }

        <label>
            Ville :
            <input formControlName="city" placeholder="Paris" />
        </label>
        @if (paymentForm.get('city')?.invalid && paymentForm.get('city')?.touched) {
        <div class="redText">Ville requise</div>
        }

        <label>
            Code postal :
            <input formControlName="postalCode" placeholder="75001" />
        </label>
        @if (paymentForm.get('postalCode')?.invalid && paymentForm.get('postalCode')?.touched) {
        <div class="redText">Code postal invalide</div>
        }

        <label>
            Numéro de carte :
            <input formControlName="cardNumber" placeholder="1234 5678 9012 3456" />
        </label>
        @if (paymentForm.get('cardNumber')?.invalid && paymentForm.get('cardNumber')?.touched) {
        <div class="redText">Carte invalide</div>
        }

        <label>
            Expiration (MM/AA) :
            <input formControlName="expiry" placeholder="12/25" />
        </label>
        @if (paymentForm.get('expiry')?.invalid && paymentForm.get('expiry')?.touched) {
        <div class="redText">Date invalide</div>
        }

        <label>
            CVV :
            <input formControlName="cvv" placeholder="123" />
        </label>
        @if (paymentForm.get('cvv')?.invalid && paymentForm.get('cvv')?.touched) {
        <div class="redText">CVV invalide</div>
        }

        <div class="summary">
            <p>Total : <strong>{{ totalAmount | currency:'EUR' }}</strong></p>
        </div>

        <button type="submit">Payer maintenant</button>
    </form>
    } @else {
    <div class="confirmation-message">
    <p><strong>Merci pour votre achat !</strong></p>
    <p>Votre livre est maintenant envoyé à l’imprimeur <strong>ImpressioNova</strong>.</p>
    <p>Vous le recevrez sous 7 jours à l’adresse fournie.</p>
    <p><em>Merci pour votre confiance et à bientôt sur Warmhora.</em></p>

    <button (click)="downloadPdf()">📄 Télécharger mon livre en PDF</button>
  </div>
    }
</div>